<script>
  (function () {
    var webSdkScript = document.createElement("script");
    webSdkScript.src =
      "https://unpkg.com/@grafana/faro-web-sdk@2/dist/bundle/faro-web-sdk.iife.js";

    webSdkScript.onload = () => {
      window.GrafanaFaroWebSdk.initializeFaro({
        url: "https://faro-collector-prod-us-central-0.grafana.net/collect/79db239ec8d793b2c77279a164f1f8d3",
        app: {
          name: "petewall.net",
          version: "1.0.0",
          environment: "production",
        },
        sessionTracking: {
          samplingRate: 1,
          persistent: true,
        },
      });

      var webTracingScript = document.createElement("script");
      webTracingScript.src =
        "https://unpkg.com/@grafana/faro-web-tracing@2/dist/bundle/faro-web-tracing.iife.js";
      webTracingScript.onload = () => {
        window.GrafanaFaroWebSdk.faro.instrumentations.add(
          new window.GrafanaFaroWebTracing.TracingInstrumentation()
        );
      };
      document.head.appendChild(webTracingScript);
    };

    document.head.appendChild(webSdkScript);
  })();
</script>
